body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 40vh;
    margin-top: 180px;
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
}

.profile-card {
    background: #fff;
    /* background-color: blue; */
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    overflow: hidden;
    /* height: 80vh; */
    width: 480px;
    text-align: center;
    transition: transform 0.3s ease;
    margin-top: 4px;
    cursor: pointer;
}

.profile-card:hover {
    transform: scale(0.8);
}

.profile-image img {
    width: 80%;
    border-bottom: 1px solid #eee;
    cursor: pointer;
}

.profile-info {
    padding: 0px 17px 15px 17px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.profile-info h1 {
    margin: 0;
    font-size: 20px;
}

.profile-info p {
    color: #666;
    font-size: 14px;
    margin: 10px 0;
}

.profile-stats {
    display: flex;
    justify-content: space-between;
    margin: 20px 0;
}

.profile-stats div {
    text-align: center;
    padding-left:20px ;
}

.profile-stats span {
    display: block;
    font-size: 15px;
    font-weight: bold;
}

a {
    text-decoration: none;
    color: #fff;
    background-color: #007bff;
    padding: 10px 10px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}

a:hover {
    background-color: #0056b3;
}
